/**
 * @group hacks
 **/

/**
 * If true, `clearfix` uses @extend by default
 *
 * @type Bool
 *
 */
$clearfix-use-extend: false !default;

/**
 * Adds the micro-clearfix hack to the element that called this mixin
 *
 * @param {Boolean} $extend ($clearfix-use-extend) - if true, uses `@extend %clearfix`
 *
 */
@mixin clearfix($extend: $clearfix-use-extend) {
    @if $extend {
        & {
            @extend %clearfix;
        }
    } @else {
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}

%clearfix {
    @include clearfix(false);
}