/**
 * @group remPxFallback
 **/

/**
 * Used as the base for rem/px calculations in `remPxFallback`
 *
 * @type Int
 */
 $remBase: 16 !default;

@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

/**
 * Adds the passed property with the given value(s) in rem and in px as fallback.
 * This file also includes the following wrapper mixins around `remPxFallback()`:
 * - font-size
 * - line-height
 * - margin
 * - margin-top
 * - margin-right
 * - margin-bottom
 * - margin-left
 * - padding
 * - padding-top
 * - padding-right
 * - padding-bottom
 * - padding-left
 *
 * @param {String}      $property - the css property
 * @param {String|List} $values   - the value(s) with px or rem unit
 *
 */
@mixin remPxFallback($property, $values) {
    $px: ();
    $rem: ();
    @each $value in $values {
        @if $value == 0 or $value == auto {
            $px: append($px, $value);
            $rem: append($rem, $value);
        }
        @else {
            $unit: unit($value);
            $val: parseInt($value);

            @if $unit == "px" {
                $px: append($px, $value);
                $rem: append($rem, $val / $remBase + rem);
            }
            @if $unit == "rem" {
                $px: append($px, $val * $remBase + px);
                $rem: append($rem, $value);
            }
        }
    }
    @if $px == $rem {
        #{$property}: $px;
    } @else {
        #{$property}: $px;
        #{$property}: $rem;
    }
}

@mixin font-size($values) {
    @include remPxFallback(font-size, $values);
}
@mixin line-height($values) {
    @include remPxFallback(line-height, $values);
}

@mixin margin($values) {
    @include remPxFallback(margin,$values);
}
@mixin margin-top($values) {
    @include remPxFallback(margin-top,$values);
}
@mixin margin-right($values) {
    @include remPxFallback(margin-right,$values);
}
@mixin margin-bottom($values) {
    @include remPxFallback(margin-bottom,$values);
}
@mixin margin-left($values) {
    @include remPxFallback(margin-left,$values);
}

@mixin padding($values) {
    @include remPxFallback(padding,$values);
}
@mixin padding-top($values) {
    @include remPxFallback(padding-top,$values);
}
@mixin padding-right($values) {
    @include remPxFallback(padding-right,$values);
}
@mixin padding-bottom($values) {
    @include remPxFallback(padding-bottom,$values);
}
@mixin padding-left($values) {
    @include remPxFallback(padding-left,$values);
}
