@import sass/colors

body
    font-family: Lato, Helvetica, Arial, sans-serif
    font-size: 16px
    
.page-main-menu
    text-align: center
    
    .title
        font-size: 64px
        font-weight: bold

    .image
        display: block
        margin: 36px auto
        width: 300px
    
    .btn
        font-size: 36px
        
.page-discipline
    text-align: center

    .btn
        font-size: 36px
        display: block
        width: 100%
        margin: 24px 0
        
.page-word
    text-align: center
    .hint
        margin: 120px 0 36px 0
        font-size: 24px
        
    .word
        font-size: 50px
        margin-bottom: 50px
        
    .question
        margin-top: 110px
        
.page-summary
    text-align: center
    
    .result
        font-size: 24px
        margin-top: 130px

    .btn
        font-size: 36px
        display: block
        width: 100%
        margin: 24px 0

.progress-bar
    transition: width 60s linear